@charset "utf-8";
@use "mixin";


.content-wrap{
    width:100%;
    padding-top:100px;
    .breadcrumbs {
        width: 1160px;
        margin: 0 auto;
        ol {
            display: flex;
            flex-wrap: wrap;
            li {
                font-size: 13px;
                padding-right: 0.5em;
                color: #666;
                a {
                    color: #666;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                    
                }
                &::after {
                    content: '\03e';
                    padding-left: 0.5em;
                }
                &:last-child::after {
                    content: '';
                }
            }
        }
    }
    .page-header{
        text-align: center;
    }
    .section{
        &__inner{
            padding:50px 0;
            width:1160px;
            margin:auto;
        }
    }
    &.download{
        .col2{
            display: flex;
            justify-content: space-between;
            .thumb{
                flex-basis: 270px;
                padding:0 40px;
                img{
                    width:100%;
                    height:auto;
                    margin-bottom:20px;
                }
            }
            .info{
                flex-basis: 800px;
                ul{
                    margin:1em 0;
                }
                .col2{
                    display: flex;
                    flex-wrap: wrap;
                    margin-top:40px;
                    div{
                        &:first-child{
                            flex-basis: 200px;
                        }
                        &:last-child{
                            flex-basis: 600px;
                        }
                    }
                }
            }
        }
        .arch{
            ul{
                display: flex;
                flex-wrap: wrap;
                margin:40px 0 80px;
                li{
                    flex-basis: calc(100%/6 - 20px);
                    margin-right:20px;
                    background-color: #efefef;
                    padding:20px;
                    h2{
                        font-size: 1.5rem;
                        font-weight:700;
                    }
                    &:nth-child(6n){
                        margin-right:0;
                    }
                    img{
                        width:100%;
                        height:auto;
                    }
                    ul{
                        display: block;
                        margin:20px 0 0;
                        li{
                            padding:0;
                        }
                    }
                }
            }
        }
    }
}

.members-form,
.download{
    input[type=text],
    input[type=email],
    input[type=tel] {
        border:1px solid #fff;
        border-color: rgba(56, 51, 49, .3);
        border-radius: 3px;
        padding:10px;
        @include mixin.box-sizing;
        &.name{
            width:100% ;
        }
        &.wide{
            width:100%;
        }
        &.num{
            width:300px;
        }
        &.login{
            width:100%;
        }
    }
    select{
        border:1px solid #999;
        padding:10px;
        width:100%;
    }
    textarea{
        @include mixin.box-sizing;
        border:1px solid #999;
        padding:10px;
        width:100%;
    }
    input[type=submit],
    input[type=button]{
        border:1px solid #999!important;
        width:250px;
        padding:10px;
        margin-top:40px;
        border-radius: 3px;
        background:#fff!important;
        font-size:15px;
    }
    .form-wrapper{
        width:980px;
        margin: 30px auto 60px;
        dl {
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px dotted #0076c3;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            dt{
                flex-basis: 200px;
                position: relative;
                &.req:after {
                    position: absolute;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    display: inline-block;
                    content: "必須";
                    background-color: #0076c3;
                    width: 43px;
                    height: 17px;
                    padding: 3px 5px;
                    line-height: 100%;
                    text-align: center;
                    color: #fff;
                    font-size: 10px;
                    right: 30px;
                    top: 2px;
                    -moz-border-radius: 2px;
                    -webkit-border-radius: 2px;
                    border-radius: 2px;
                }
            }
            dd{
                flex-basis: 780px;
                ul{
                    display: flex;
                    justify-content: space-between;
                    li{
                        flex-basis: calc(100%/2 - 20px);
                        &.col2{
                            display: flex;
                            justify-content: space-between;
                            label{
                                display: block;
                                flex-basis: 2em;
                            }
                            span{
                                display: block;
                                flex-basis: calc(100% - 2em);
                            }
                            &.conf{
                                justify-content: flex-start;
                            }
                        }
                    }
                }
                label{
                    margin-right:10px;
                }
            }
        }
    }
}
