@charset "utf-8";

#content ul{
	display: block;
	list-style-type: disc;
	margin:2em;
}
#content ul li{
	list-style-type: disc;
}

#content ul li ul{
	margin-top:0;
}

#content ul li li{
	list-style-type: circle;
}

#content h2{
  font-size:20px;
  font-weight:bold;
  margin:1em 0;
}